ul.ui-autocomplete{background:#fff; border:1px solid #5EC2EB;width:350px; list-style:none;box-shadow: 4px 4px 2px #ccc;}
ul.ui-autocomplete li{cursor:pointer; padding:3px 0px;}
ul.ui-autocomplete li:hover{background:#f1f1f1; color:#7F3785;}
ul.ui-autocomplete li a{margin-left:10px; font-weight:bold;}
ul.ui-autocomplete li a:hover{text-decoration:none !important;}
.tqwl{width:590px !important}

.easAlertRed{text-align: center;background:#f93f00 !important; color: #fff}
.easAlertGreen{text-align: center;background:#59b200 !important;  color: #fff}
.easAlertYellow{text-align: center;background:#ffff00 !important; color: #323232}
.easAlertGray{text-align: center;background: gray !important; color: #323232}
.txtinc{color:#999 !important; font-size:11px;}
.content h4{color:#6A7176;margin:0px;}
.contentcol .eas{width: 60px; font-size: 12px; text-transform: none; margin-right: 0}
#isSearchForm .lblFieldPair .input{margin-left: 0}
.lhm {line-height:40px;}
html.ie6 .lhm {line-height:5px;}
.planlist{list-style-type:none !important; margin-left: 0 !important;} 

.panels .hd .mdetail a , .panels .hdexpanded .mdetail a:link, .panels .hdexpanded .mdetail  a:hover, .panels .hdexpanded .mdetail  a:visited  {font-size:12px; font-weight:normal;color: #0095C7;!important;
    outline: medium none; text-decoration: none;}


/*Not for DEV - Temporary CSS*/
.easAlertGreen.eas-eefirst, .easAlertYellow.eas-eefirst, .easAlertGray.eas-eefirst{display: none}
input[type="text"] {padding:3px;}

.ie7 input[type="text"] {padding-top:3px;padding:2px;}

ul.hnavListnew li{ height:auto; margin: 0 0 0 2%; padding: 0 0 0 2%; }

.width10pct{width:10%; }
.width15pct{width:15%; } 
 .width20pct{width:20%; } 
 .width25pct{width:25%; } 
 .width30pct{width:30%; } 
 .width18pct{width:18%; } 
 .width22pct{width:22%; }

.iconDiv{ display:inline-block; height:20px }
.eas{ padding:4px 5px 4px 5px; margin-right:5px; font-size:11px !important; }

.eas.legend { padding:2px 5px 2px 5px !important; border:2px solid #00a8e0 !important; font-size:11px !important; font-weight:bold !important; }

/*pagetitle*/
.pagetitle { padding: 24px 16px 10px 16px!important;}
.pagetitle  h1{padding:0px!important;}
